<!-- Button to clear selection -->
<div class="example-header">
  <input
    type="text"
    #filterTextBox
    id="filter-text-box"
    placeholder="Filter..."
    (input)="onFilterTextBoxChanged()"
  />
  <button (click)="onBtnExport()">Download CSV export file</button>
  <button (click)="updateItems()">UpdateItems</button>
  <button (click)="onRemoveSelected()">RemoveSelected</button>
</div>

<!-- AG Grid Angular Component -->
<ag-grid-angular
  style="width: 100%; height: 96%"
  class="ag-theme-alpine"
  [columnDefs]="columnDefs"
  [defaultColDef]="defaultColDef"
  [rowData]="rowData$ | async"
  [rowSelection]="'multiple'"
  [animateRows]="true"
  (gridReady)="onGridReady($event)"
  (cellClicked)="onCellClicked($event)"
  (selectionChanged)="onSelectionChanged($event)"
></ag-grid-angular>
