<!-- Button to clear selection -->
<div class="example-header justify-between flex items-center">
  <mat-form-field>
    <mat-label>Quick Filter</mat-label>
    <input
      matInput
      type="text"
      #filterTextBox
      id="filter-text-box"
      placeholder="Filter..."
      (input)="onFilterTextBoxChanged()"
    />
  </mat-form-field>
  <mat-form-field class="example-form-field">
    <mat-label>Column Chooser</mat-label>
    <mat-select [formControl]="columnsControl" multiple>
      <mat-option *ngFor="let column of columnDefsInitial" [value]="column?.field">{{column?.field}}</mat-option>
    </mat-select>
  </mat-form-field>

  <div class="button flex gap-3">
    <button mat-raised-button color="primary">
      <label class="flex align-middle">
        <mat-icon class="self-center">file_upload</mat-icon>
        <span>Import From File</span>
        <input hidden type="file" (change)="onImportFile($event)" multiple="false"></label>
    </button>
    <button mat-raised-button color="primary" (click)="updateItems()">
      <mat-icon>edit</mat-icon>
      <span>Update Selected Rows</span>
    </button>
    <button mat-raised-button color="primary" (click)="onRemoveSelected()">
      <mat-icon>delete_forever</mat-icon>
      <span>Delete Selected Rows</span>
    </button>
    <button mat-raised-button color="primary" (click)="onBtnExport()">
      <mat-icon>file_download</mat-icon>
      <span>Download CSV export file</span>
    </button>


  </div>
</div>

<!-- AG Grid Angular Component -->
<ag-grid-angular
  style="width: 100%; height: calc(100% - 100rem/16)"
  class="ag-theme-alpine"
  [columnDefs]="columnDefs"
  [defaultColDef]="defaultColDef"
  [rowData]="(tableData?.rowData$) | async"
  [rowSelection]="'multiple'"
  [animateRows]="true"
  [sideBar]="sideBar"
  [enableRangeSelection]='true'
  [enableRangeHandle]="true"
  [enableFillHandle]="true"
  [suppressClearOnFillReduction]="true"
  [context]="context"
  (gridReady)="onGridReady($event)"
  (cellClicked)="onCellClicked($event)"
  (selectionChanged)="onSelectionChanged($event)"
></ag-grid-angular>
